
@media screen and (max-width: 476px) {

    .container {
        width: 100%;
    }

    .nav-elements {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
    }
    .toggle-collapse {
        display: inline-block;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar .navbar-nav .nav-item {
        display: block;
        list-style: none;
    }

    .navbar-collapse {
        width: 100px;
        overflow: hidden;
        text-align: center;
        height: 0vh;
    }

    .collapse {
        height: 30vh;
        width: 100%;
        background-color: white;
    }

    .login-membership {
        display: none;
    }

    .intro {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
        object-fit: contain;

    }

    .intro-buttons {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .people-product, 
    .products ,
    .people-cards,
    .brands,
    .subscription,
    .pricing-cards,
    .ping-wing,
    .contact-page,
    .info-links,
    .copyright{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.4rem;
        position: relative;
        align-items: center;
    }

    .pricing-cards {
        gap: 3rem;
    }


    .container-one {
        position: relative;
        height: 100%;
    }

    .people-product {
        margin-top: 0px;
        margin-bottom: 0;
    }
    .ping-wing {
    
    }
    .section-two {
        display: none;
    }

}