body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    float: left;
    text-decoration: none;
}
.nav-elements {
    float: right;
}
.navbar-nav {
    margin-top: 0;

}

.navbar .navbar-nav .nav-item {
    display: inline;
    list-style: none;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    display: inline-block;
    /* padding: 0.9em 0.7em; */
}

.toggle-collapse {
    float: right;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 456px) {
    .navbar-brand  {
        display: inline-block;
        float: none;
    }

    .toggle-collapse {
        display: inline-block;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar .navbar-nav .nav-item {
        display: block;
        list-style: none;
    }

    .navbar-collapse {
        width: 100px;
        overflow: hidden;
        text-align: center;
        height: 0vh;
    }

    .collapse {
        height: 30vh;
        width: 100%;
        background-color: white;
    }
}